<!-- 

<p-table [value]="dates" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Total Hours</th>
      <th>Check In/Check Out</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-date let-i="index">
    <tr>
      <td>{{ date.index }}</td>
      <td>{{ date.date | date: "mediumDate" }}</td>
      <td>{{ date.checkIn }}</td>
      <td>{{ date.checkOut }}</td>
      <td>{{ calculateDuration(date.checkIn, date.checkOut) }}</td>
      
      
      <td>
        <button pButton pRipple type="button" label="Check In" class="p-button-outlined p-button-rounded" (click)="checkIn()" *ngIf="checkedIn"></button>&nbsp;&nbsp;
        <button pButton pRipple type="button" label="Check Out" class="p-button-outlined p-button-rounded" (click)="checkOut()" *ngIf="checkedOut"></button>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<!-- <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let date of dates">
          <td>{{ date | date:'mediumDate' }}</td>
          <td>{{ date | date:'EEEE' }}</td>
        </tr>
      </tbody>
    </table> -->

<div class="container">
  <div>
    <button pButton type="button" label="Check In" class="p-button-lg" (click)="checkIn()"></button>
    <br /><br />
    <button pButton type="button" label="Check Out" class="p-button-lg" (click)="checkOut()"></button>
  </div>
</div>
<br /><br />
<hr />
<div>
  <p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Day</th>
        <th>Date</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Total Duration</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{id}}</td>
        <td>{{ product.day }}</td>
        <td>{{ product.date }}</td>
        <td>{{ product.currTime }}</td>
        <td>{{ product.currTimeOut }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>